*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #dddbdb;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: blue;
    color: white;
    height: 100px;
}

.logo{
    font-size: 24px;
    margin-top: 20px;
}
.searchBar{
    margin-top: 30px;
}

.searchBar input{
    width: 240px;
    padding: 7px;
    font-size: 18px;
    border-radius: 20px 10px;
    border: none;
    outline: none;
}

.searchBar button{
    height: 35px;
    width: 80px;
    background-color: rgb(141, 125, 4);
    color: white;
    border-radius: 20px 10px;
    font-size: 16px;
    border: none;
    outline: none;
    margin-inline: 8px;
    cursor: pointer;
}

.card{
    margin-top: 55px;
}

.movieCard{
    display: flex;
    background-color: #fff;
    padding: 22px;
    width: 1000px;
    margin: auto;
    gap: 22px;
    border-radius: 10px;
}

.movieCard h1{
    text-align: center;
}

.movieCard .rating{
    text-align: center;
}

.movieCard p{
   margin-top: 22px;
}

.movieCard a{
    background-color: rgb(255, 69, 2);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 7px;
    margin: auto;
    position: relative;
    margin-top: 20px;
    border-radius: 20px;
    
}

.movieCard span{
    color: gray;
}

.cardText{
    margin-top: 23px;
}

.card h1{
    text-align: center;
}


@media screen and (max-width:1100px){
    .movieCard{
        width: 90%;
    }
}

@media screen and (max-width:700px){
    nav{
        display: block;
    }
    .searchBar{
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    .logo{
        text-align: center;
    }
    .movieCard{
        display: block;
        text-align: center;
        width: 80%;
    }
}

@media screen and (max-width:450px){
    .searchBar input{
        width: 50%;
    }
    .searchBar button{
        margin-inline: 3px;
        font-size: 15px;
    }
    .movieCard img{
        width: 90%;
    }
}